* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }


h1 {
  color: black;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
}

a {
  color: #1e6bb8;
  text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
  }

h2 {
  background-color: #001010;
  color: white;
  border: 1px solid black;
  border-color: black;
  border-width: 1px;
  margin: 0;
  padding: 0;
  position:absolute;
  top: 0%;
  right: 0%;
  float: left;
  width: 30%;
}

p {
  color: #101010;
  margin-top: 40px;
}
.section {
  background-color: pink;
  color: #001111;
  border: 1px solid black;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding: 5px
  width: 33%;
  float: left;
  position: relative;
}

.row {
  width: 100%;
  float: left;
}

.Chicken {
  background-color: green;
}
.Chicken:hover {
  background-color: white;
  color:black;
}

.Beef {
  background-color: orange;
}
.Beef:hover {
  background-color: white;
  color:black;
}

.Sushi {
  background-color: grey;
}
.Sushi:hover {
  background-color: white;
  color:black;
}

@media (min-width: 992px) {
  .col-lg-4 {
    padding: 7px 10px; 
    float: left; 
    width: 33%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-2 {
    padding: 7px 10px; 
    float: left; 
    width: 50%; }
  .col-md-12 {
    padding: 7px 10px; 
    float: left; 
    width: 100%; } }

@media (max-width: 767px) {
  .col-sm-2 {
    padding: 7px 10px; 
    float: left;
    width: 100%; } }

