* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }


h1 {
  color: black;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
  margin-top: 55px
}

a {
  color: #1e6bb8;
  text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
  }

h2 {
  /*background-color: #001010; */
  
  /* border: 1px solid black; 
  border-color: black; 
  border-width: 1px; */
  /*color: white; */
  margin: 0;
  padding: 0;
  position:relative;
  top: 0%;
  right:55%;
  left: 45%;
  
}

p {
  color: #101010;
  margin-top: 40px;
}

.navbar {
  background-color: grey;
}
.section {
  background-color: grey;
  color: #001111;
  /*border: 1px solid black;
  border-color: black;
  border-width: 1px;*/
  margin: 10px;
  padding: 0
  width: 33%;
  float: left;
  position: relative;
  

}

.row {
  height: 500;
  /*width: 100%; */
  position: relative;
  float: left;
}

.brand {
  font-size: 18;
  color: black;
}

@media (min-width: 992px) {
  .col-lg-4 {
    padding: 7px 10px; 
    float: left; 
    width: 33%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-2 {
    padding: 7px 10px; 
    float: left; 
    width: 50%; }
  .col-md-12 {
    float: left; 
    width: 100%; } }

@media (max-width: 767px) {
  .col-sm-2 {
    padding: 7px 10px; 
    float: left;
    width: 100%; } 
  #chicken {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
  } 
  #beef {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
  }
  #sushi {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
  }
  }

